#grid-container {
  display: grid;
  grid-template-rows: repeat(16, 25px);
  grid-template-columns: repeat(16, 25px);
}

.grid-square {
  border: 0.1px solid;
  column-gap: 0;
  margin: 1px;
}

.filled-in {
  background-color: black;
}
